<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t(:button_user_update), :class => "btn primary" %>&nbsp;
    <button type="reset" class="btn" style="margin-right:30px;"><%= t(:button_cancel) %></button>
  </div>
<% end %>