<ul class="unstyled">
  <li><span class="label important">Achtung</span> mindestens Version 2.0 benutzen, damit das reibungslose Zusammenspiel mit den anderen Tools gewährleistet ist.</li>
  <li><span class="label success">Neu</span> in 2.0</li>
  <ul>
    <li>Konfigurationsmöglichkeiten für die Preise</li>
    <li>Beim überweisen/an die Börse stellen kann nun ein Klick eingespart werden. (konfigurierbar)</li>
    <li>Völlig neues Konfigurationsmenü im Profil</li>
  </ul>
  <li>1.2.1</li>
  <ul>
    <li>Bug Fix bei der Börsenüberweisung</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Fix für KHAdvancedPatientView</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger, zum Max Preis</li>
    <li>Einfaches Einstellen von Patienten an die Börse, zum Min Preis</li>
  </ul>
</ul>
