<ul class="unstyled">
  <%= render 'khadvancedmail_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Der Posteingang hat nun einen neuen Knopf mit dem Ihr alle Überweisungsmeldungen selektieren könnt. Danach können sie ganz normal gelöscht werden.</li>
  </ul>
</ul>
