<ul class="unstyled">
  <%= render 'khadvancedmemberlist_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Es ist nun alles in Spalten geordnet.</li>
    <li>Der Levelname ist als Tooltip des Levels angebracht.</li>
    <li>Zusätzlich zum Login Datum gibt es einen Smiley, der ungefähr anzeigt wann man sich zum letzten mal eingeloggt hat.</li>
  </ul>
</ul>
