<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.2.1</li>
  <ul>
    <li>Bug Fix bei der Börsenüberweisung</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Fix für KHAdvancedPatientView</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger, zum Max Preis</li>
    <li>Einfaches Einstellen von Patienten an die Börse, zum Min Preis</li>
  </ul>
</ul>
