<ul class="unstyled">
  <%= render 'khadvancedmedrack_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.1</li>
  <ul>
    <li>Wird eine Mindestmenge des Medikaments unterschritten, bekommt es einen roten Hintergrund.</li>
  </ul>
  <li>2.0</li>
  <ul>
    <li>Alle Medikamente eines Raumes haben nun den gleichen Hintergrund.</li>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Das Regal kann nun durchgängig geblättert werden.</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Update der Kofiguration um mit dem anderen Scripten zusammenzuarbeiten.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Alle Medikamente eines Raumes hintereinander.</li>
    <li>Direkter Zugriff auf die Medikamentenshops.</li>
    <li>Beim Einkauf Aufstockung auf eine bestimmte Menge.</li>
    <li>Anzeige wie viel hT in Medikamenten gebunden ist.</li>
  </ul>
</ul>
