<ul class="unstyled">
  <%= render 'khadvancedpatientview_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.0.1</li>
  <ul>
    <li>Bugfix beim Speichern des WW-Levels.</li>
  </ul>
  <li>2.0</li>
  <ul>
    <li>Punkteberechnung zu 99% (+/- 1 Punkt) korrekt. (Die genaue Formel kennt im Moment nur Upjers)</li>
    <li>Medibonus kann in der Behandlungszeit angabe berücksichtigt werden. Der Forschungsbonus wird mit eingerechnet. (konfigurierbar)</li>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Update der Kofiguration um mit den anderen Scripten zusammenzuarbeiten</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Einige interne Anpassungen der Berechnungen. Es stimmt noch nicht 100%. Es wird noch daran gearbeitet, wie die Berechnung intern genau funktioniert.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Behandlungszeiten zeigen nun den Bonus durch WW an.</li>
    <li>Wieviele Punkte bringt der Patient (mit und ohne Medis)</li>
    <li>Gesamtkosten der Medis für den Patienten</li>
    <li>Wieviel Gewinn mache ich mit einem Patienten</li>
    <li>Bei allen Werten werden die Boni durch die WW schon mit eingerechnet</li>
  </ul>
</ul>
