<ul class="unstyled">
  <%= render 'khadvancedreferral_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 4.1</li>
  <ul>
    <li>Die Krankheiten des Area51-Labors tauchen nun auch in den Filtern auf.</li>
  </ul>
  <li>4.0.2</li>
  <ul>
    <li>Bugfix beim Speichern des WW-Levels.</li>
  </ul>
  <li>4.0.1</li>
  <ul>
    <li>Bugfixes.</li>
  </ul>
  <li>4.0 Beta</li>
  <ul>
    <li>Die Aktionsbuttons zeigen nun an, an wen der Patient geht oder vom wem er kommt.</li>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>3.0 Beta</li>
  <ul>
    <li>Zugeschickte und Eingelagerte Pats werden nun zusammen behandelt.</li>
    <li>Wenn man nach der Spalte Anzahl Krankheiten sortiert, kann nun noch eine weitere Spalte, ur Sortierung, ausgewählt werden.</li>
  </ul>
  <li>2.0 Beta</li>
  <ul>
    <li>Es wurden nun die Punkte in der Mappe eingeführt.</li>
    <li>Zusätzlich kann zwischen einer Spalte für Punke pro Zeit und hT pro Zeit gewählt werden.</li>
    <li>Punkteberechnung für nicht Simulaten noch nicht 100%tig korrekt. &plusmn;1 Punkt</li>
  </ul>
  <li>1.0 Beta</li>
  <ul>
    <li>Es kann nun zwischen den klassischen Filtern und der Übersicht von Tiny gewechselt werden.</li>
    <li>Zusätzliche Anzeigen in der Überweisungsmappe (Anzahl Patienten, Gesamtertrag).</li>
    <li>5 Filter in der Überweisungsmappe, mit denen der Überblick nicht verloren geht.</li>
  </ul>
  <li>0.5 Beta</li>
  <ul>
    <li>Zusätzliche Anzeigen in der Überweisungsmappe (Anzahl Patienten, Gesamtertrag)</li>
    <li>4 Filter in der Überweisungsmappe, mit denen der Überblick nicht verloren geht</li>
  </ul>
</ul>
