<li>
  <span class="label notice">Achtung</span> <%= image_tag 'help/16-firefox.png', :style => 'top:3px; position:relative;' %> Firefox<br />
  wenn sich zu viele Patienten in der Mappe befinden, kommt es zu Scriptfehlern. Dagegen kann ich im Moment leider nichts machen. Zusätzlich scheint es Probleme zu geben, wenn das Firefox-Addon: Firebug aktiv ist. Das muss dann deaktiviert werden.
</li>
<li>
  <span class="label important">Achtung</span><br />
  mindestens Version 4.0 benutzen, damit das reibungslose Zusammenspiel mit den anderen Tools gewährleistet ist.
</li>
