<ul class="unstyled">
  <%= render 'khimprovedgraphics_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 1.0.1</li>
  <ul>
    <li>Auch im Opera werden nun alle Grafiken korrekt getauscht.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Alle Behandlungsräume in maximaler Ausbaustufe sehen.</li>
    <li>Statt des Putzwagens seht ihr die Sylvesterblume.</li>
    <li>Statt der Massageliege seht ihr den Lesesessel.</li>
    <li>Die Dekoräume mit Animation werden immer mit Animation dargestellt.</li>
    <li>Alles konfigurierbar.</li>
  </ul>
</ul>
