<li>
  <center><span class="label notice">PA only</span> Skript</center>
</li>
<li>
  <span class="label important">Achtung</span><br />
  mindestens Version 2.0 benutzen, damit das reibungslose Zusammenspiel mit den anderen Tools gewährleistet ist.
</li>
