<ul class="unstyled">
  <%= render 'khmedhelper_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.0</li>
  <ul>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Statt der roten Lamp werden nun die Medis angezeigt die noch in dem Raum fehlen.</li>
  </ul>
</ul>
