<ul class="unstyled">
  <%= render 'khopticalimprovements_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.0.1</li>
  <ul>
    <li>Bugfix beim einblenden der Upjers-Bar</li>
  </ul>
  <li>2.0</li>
  <ul>
    <li>Ihr könnt die Upjers-Bar oben ausblenden lassen (konfigurierbar).</li>
    <li>Ihr könnt den Aktions-Gegenstand im Warteraum ausblenden lassen (konfigurierbar).</li>
    <li>Wenn die Pille vom Fernseher abgeholt ist, wird der Fernseher ausgeblendet (konfigurierbar).</li>
    <li>Ihr könnt einstellen ab wieviel Tagen Restlaufzeit von Susi das Ausrufezeichen erscheint.</li>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>1.3.3</li>
  <ul>
    <li>Noch ein BugFix der XP Anzeige.</li>
  </ul>
  <li>1.3.2</li>
  <ul>
    <li>BugFix der XP Anzeige.</li>
  </ul>
  <li>1.3.1</li>
  <ul>
    <li>Einige Firefox BugFixes</li>
  </ul>
  <li>1.3</li>
  <ul>
    <li>Im Mouseover eurer Punkte könnt ihr nun sehen, wieviele bis zum nächsten Level noch fehlen.</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Wenn keine Susi gebucht wurde, oder sie nur noch 3 Tage da ist, erscheint ein Ausrufezeichen</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Solange die Wunderpille am Fernseher nich abgeholt wurde, erscheint ein Ausrufezeichen</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Die Pats laufen nun nicht mehr unter dem Fernseher durch</li>
  </ul>
</ul>
