<ul class="unstyled">
  <%= render 'khpatientcounter_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.0</li>
  <ul>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Update der Kofiguration um mit den anderen Scripten zusammenzuarbeiten</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Ihr könnt Olga nun mitteilen, dass ihr die 2 Stufe des Weltwunders abgeschlossen habt. Dann zählt sie die 2 Bonus Patienten, korrekt mit.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Tooltip für die Ausstattungspunkte der die Anzahl Patienten pro Tag anzeigt.</li>
    <li>Olga zählt nun die Patienten die den Tag über so eintrudeln.</li>
  </ul>
</ul>