<li>
  <span class="label important">Achtung</span><br />
  mindestens Version 2.0 benutzen, damit das reibungslose Zusammenspiel mit den anderen Tools gewährleistet ist.<br />
  Olga kennt leider nur die letzten 200 Patienten. Also nicht wundern, wenn ihr mehr bekommt, weiter kann sie leider nicht in die Vergangenheit blicken.
</li>
