<li>
  <center><span class="label notice">Bug</span> im <%= image_tag 'help/16-chrome.png', :style => 'top:3px; position:relative;' %> Chrome/SWR Iron. Der Fehler Sound läßt sich leider nicht abschalten. <%= link_to "Bugmeldung", "http://code.google.com/p/chromium/issues/detail?id=105500" %></center>
</li>
<li>
  <center><span class="label important">Actung</span> <%= image_tag 'help/16-opera.png', :style => 'top:3px; position:relative;' %> Opera: Die Shortcuts funktionieren leider nicht im Opera. Ich suche da noch nach einer Lösung.
</li>
<li>
  <span class="label important">Achtung</span><br />
  mindestens Version 2.0 benutzen, damit das reibungslose Zusammenspiel mit den anderen Tools gewährleistet ist.
</li>
