<ul class="unstyled">
  <%= render 'khshortcuts_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 2.0</li>
  <ul>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
  </ul>
  <li>1.2</li>
  <ul>
    <li>Noch ein Tastaturshortcuts für KH (Alt + S)</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Noch zwei Tastaturshortcuts für KH (Alt + M / Alt + O)</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Tastaturshortcuts für KH(Alt + 1-5 / Alt + B / Alt + G)</li>
  </ul>
</ul>