<ul class="unstyled">
  <%= render 'khtimer_important' %>
  <li>&nbsp;</li>
  <li><span class="label success">Neu</span> in 5.0</li>
  <ul>
    <li>Durch ein klick auf den Garagen-Timer gelang man nun in die Garage.</li>
    <li>Viele interne Änderungen um mit den anderen Skripts besser zu harmonieren.</li>
    <li>Völlig neues Konfigurationsmenü im Profil.</li>
  </ul>
  <li>4.1.1</li>
  <ul>
    <li>BugFixes beim LogoutTimer.</li>
  </ul>
  <li>4.1</li>
  <ul>
    <li>Einige interne Anpassungen und BugFixes. Autokorrektur des GaragenCounters.</li>
  </ul>
  <li>4.0</li>
  <ul>
    <li>Es gibt nun auch einen LogoutTimer.</li>
  </ul>
  <li>3.1</li>
  <ul>
    <li>Im Fenster mit der Anzeige wieviele Patienten nun fertig sind, ist nun auch ausblendbar.</li>
  </ul>
  <li>3.0</li>
  <ul>
    <li>Alle Timer sind nun ein und ausblendbar.</li>
    <li>Läuft ein Timer nur noch 30 sec. Wird er grün.</li>
    <li>Der KH Timer verrät nun wo der Timer ausläuft</li>
    <li>Im Fenster mit der Anzeige wieviele Patienten nun fertig sind, wird angezeigt auf welchen Etagen sie fertig sind.</li>
    <li>Der Fenstertitle verrät auch auf welchem Level der aktuelle Timer ausläuft.</li>
  </ul>
  <li>2.0</li>
  <ul>
    <li>Timer für jeden Raum</li>
    <li>Timer für die Mini-Behandlungen</li>
    <li>Timer für die Etage mit der kürzesten Behandlungszeit</li>
    <li>Timer für das KH mit der kürzesten Behandlungszeit</li>
    <li>Counter für jede abgeschlossene Behandlung</li>
    <li>Der KH Timer und der Counter werden im Fenstertitle angezeigt. So kann ich in der Taskleiste, oder dem Browsertab sehen was im KH passiert ist.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Das Fahreug hat nun eine Fortschritsanzeige und Timer für die aktuelle Quest</li>
  </ul>
</ul>
