<p>
<strong>Wie installiere ich die Tools?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHAdvancedAssignment anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHAdvancedAssignment anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
<b>Opera:</b><br />
1. Im Konfigurationsfenster ein Verzeichnis für UserScripts angeben.
2. Link vom KHAdvancedAssignment anklicken und der Installation zustimmen.<br />
</p>
