
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Project name</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown" data-dropdown="dropdown" >
          <a href="#" class="dropdown-toggle">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Another link</a></li>
          </ul>
        </li>
      </ul>
      <form action="" class="pull-right">
        <input class="input-small" type="text" placeholder="Username">
        <input class="input-small" type="password" placeholder="Password">
        <button class="btn" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Page name <small>Supporting text or tagline</small></h1>
    </div>
    <div class="row">
      <div class="span10">
        <h2>Main content</h2>
      </div>
      <div class="span4">
        <h3>Secondary content</h3>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Company 2011</p>
  </footer>

</div> <!-- /container -->
