<p>
  <h2><center>Willkommen zur Skript-Sammlung<br />Kapihospital</center></h2>
  <h3>News</h3>
  <table>
    <tr>
      <td><b>30.05.12</b></td>
      <td>Nun gibt es auch ein Kontaktformular mit dem Ihr direkt Mails verschicken könnt.</td>
    </tr>
    <tr>
      <td><b>19.05.12</b></td>
      <td>Komplette Umgestaltung der einzelnen Skript Seiten.</td>
    </tr>
    <tr>
      <td><b>18.05.12</b></td>
      <td><%= link_to t('link_installdescription'), help_path %> hinzugefügt.</td>
    </tr>
    <tr>
      <td><b>13.05.12</b></td>
      <td>Lorem ipsum dolor sit amet, integre necessitatibus vel ex. Et quo sint omittam. Vidit voluptua per ne, tation animal sit ei. Graeco tacimates mea te, delectus adipisci inimicus cum et, et sit etiam nulla iudico.</td>
    </tr>
  </table>
</p>
