<p>
<strong>Was ist KHAdvancedPatientView?</strong><br />
KHAdvancedPatientView erweitert die Infos auf der Patientenakte. Es werden die Boni durch das WW mit eingerechnet. Zusätzlich sieht mal wieviele Punkte ein Patient bringt und welche Medkosten er hat.
</p>
<p>
<strong>Welche Version hat KHAdvancedPatientView?</strong><br />
Stand 10.02.12 ist Version 1.0<br />
</p>
<p>
<strong>Wie ist KHAdvancedPatientView entstanden?</strong><br />
Ich konnte mir nie merken wie die neuen Zeiten, dank des WW Bonus, sind und wieviel Punkte mir ein Pat bringt. Danke an Tiny für die Arbeit mit den Punkten. Ohne Ihn würde dieser Teil fehlen!
</p>
<p>
<strong>Was benötige ich um KHAdvancedPatientView installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHAdvancedPatientView her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khadvancedpatientview/10/KHAdvancedPatientView.user.js">KHAdvancedPatientView 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHAdvancedPatientView?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHAdvancedPatientView anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHAdvancedPatientView anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
<p>
<strong>Wie teile ich mit, welche Stufe im WW abgeschlossen wurde?</strong><br />
Dazu öffnet ihr einfach euer Profil. Dort gibt es den Eintrag: "Abgeschlossene Weltwunderstufe der ÄV". Einfach die Stufe eintragen und fertig. Das wird sich wieder für jeden Arzt/Server gemerkt.
</p>
