<p>
<strong>Was ist KHAdvancedReferral?</strong><br />
KHAdvancedReferral ist die Überweisungsmappe so wie ich sie mir vorstelle.
</p>
<p>
<strong>Welche Version hat KHAdvancement?</strong><br />
Stand 16.03.12 ist Version 1.0 Beta.<br />
</p>
<p>
<strong>Wie ist KHAdvancemedReferral entstanden?</strong><br />
Ich habe die Überweisungsmappe mit den Funktionen versehen, die mir fehlten:
<%= image_tag 'tools/khadvancement/screenshot_mappe.jpg' %>
<ul>
<li>Die Mappe zählt mir wieviel Patienten gerade ausgewählt sind.</li>
<li>Die Mappe gibt mir den Gesamterlös der ausgewählten Patienten an.</li>
<li>Vier Filterblöcke in der Überweisungsmappe:</li>
<ul>
  <li>Menü 1:</li>
  <ul>
    <li>keine Pats mit einer Restkrankheit anzeigen</li>
    <li>nur Pats mit einer Restkrankheit anzeigen</li>
    <li>keine Pats mit multi Behandlungen für einen Raum anzeigen</li>
    <li>nur Pats mit multi Behandlungen für einen Raum anzeigen</li>
  </ul>

  <li>Menü 2:</li>
  <ul><li>Nach Anzahl Krankheiten filtern</li></ul>

  <li>Menü 3:</li>
  <ul><li>Nach Empfänger filtern</li></ul>

  <li>Menü 4:</li>
  <ul><li>Nach Raum filtern</li></ul>

  <li>Menü 5:</li>
  <ul><li>Nach Krankheiten filtern</li></ul>
  
  <li>Das rote X</li>
  <ul><li>entfernt alle Filter</li></ul>
</ul>
<li>Die Spalten Name, Krankheiten, Empfänger und Kosten lassen sich auf- oder absteigend sortieren</li>
</ul>
</p>
<p>
<strong>Was benötige ich um KHAdvancemedReferral installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHAdvancedReferral her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khadvancedreferral/KHAdvancedReferral.user.js">KHAdvancedReferral 1.0 Beta
</p>
<p>
<strong>Wie installiere ich KHAdvancedReferral?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHAdvancedReferral anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHAdvancedReferral anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
