<p>
<strong>Was ist KHAdvancedMedRack?</strong><br />
KHAdvancedMedRack ist der Medikamentenschrank so wie ich ihn mir vorstelle.
</p>
<p>
<strong>Welche Version hat KHAdvancedMedRack?</strong><br />
Stand 21.01.12 ist Version 1.0<br />
</p>
<p>
<strong>Wie ist KHAdvancedMedRack entstanden?</strong><br />
Ich fand es sehr ungeschickt, mehrmals blättern zu müssen, um eine Sorte Behandlungsräume mit Meds versorgen zu können. Daher wurde der Medizinschrank umgestalltet.
<ul>
<li>Alle Medikamente für einen Raum sind nun hintereinander.</li>
<li>Das neueste Medikament sortiert sich immer am Ende ein.</li>
<li>Alle Medikamente für einen Raum sind auf einer Seite. Passen sie nicht mehr auf die aktuelle Seite, wanden alle auf eine neue Seite.</li>
<li>Unter den Meds steht nun wieviel hT in Meds angelegt sind.</li>
<li>Durch einen Doppelklick auf das Medikament geht nun direkt der Shop auf der es verkauft. Wobei bei nicht PA Accounts darauf geachtet wird das man nur Mittwochs und Samstags nach Bruchberg kommt.</li>
<li>Ihr könnt eine Standardmenge für Medikamente und Seuchen hinterlegen. Beim einkaufen wird dann automatisch die fehlende Menge des Medikaments eingetragen.</li>
</ul>
</p>
<p>
<strong>Was benötige ich um KHAdvancedMedRack installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHAdvancedMedRack her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khadvancedmedrack/10/KHAdvancedMedRack.user.js">KHAdvancedMedRack 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHAdvancedMedRack?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHAdvancedMedRack anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHAdvancedMedRack anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
<p>
<strong>Wie bestimme die Menge auf die beim Medikamentenkauf aufgestockt werden soll?</strong><br />
Standardmäßig sind 50 als Menge für Medikamente und 5 für Seuchemmedikamente voreingestellt.
Um dies zu ändern macht ihr euer Account Fenster auf:
<%= image_tag 'tools/khadvancedmedrack/screenshot_config.jpg' %><br />
Nun könnt ihr die Werte eintragen die ihr möchtet. Er merkt sich eure Werte wieder für jeden Server/Ärztenamen.
</p>
