<p>
<strong>Was ist KHAdvancement?</strong><br />
KHAdvancement ist die Überweisungsmappe so wie ich sie mir vorstelle.
</p>
<p>
<strong>Welche Version hat KHAdvancement?</strong><br />
Stand 11.02.12 ist Version 1.2 Beta.<br /><span class="label important">Achtung</span>Unbedingt auf Version 1.2 upgraden wenn KHAdvancedPatientView installiert werden soll!
Stand 21.01.12 ist Version 1.1 Beta.<br />
Stand 15.01.12 ist Version 1.0.
</p>
<p>
<strong>Wie ist KHAdvancement entstanden?</strong><br />
Ich habe die Überweisungsmappe mit den Funktionen versehen, die mir fehlten:
<%= image_tag 'tools/khadvancement/screenshot_mappe.jpg' %>
<ul>
<li>Die Mappe zählt mir wieviel Patienten gerade ausgewählt sind.</li>
<li>Die Mappe gibt mir den Gesamterlös der ausgewählten Patienten an.</li>
<li>Vier Filterblöcke in der Überweisungsmappe:</li>
<ul>
  <li>Menü 1:</li>
  <ul>
    <li>keine Pats mit einer Restkrankheit anzeigen</li>
    <li>nur Pats mit einer Restkrankheit anzeigen</li>
    <li>keine Pats mit multi Behandlungen für einen Raum anzeigen</li>
    <li>nur Pats mit multi Behandlungen für einen Raum anzeigen</li>
  </ul>

  <li>Menü 2:</li>
  <ul><li>Nach Anzahl Krankheiten filtern</li></ul>

  <li>Menü 3:</li>
  <ul><li>Nach Empfänger filtern</li></ul>

  <li>Menü 4:</li>
  <ul><li>Nach Raum filtern</li></ul>
  
  <li>Das rote X</li>
  <ul><li>entfernt alle Filter</li></ul>
</ul>
<li>Die Spalten Name, Krankheiten, Empfänger und Kosten lassen sich auf- oder absteigend sortieren</li>
</ul>
Damit das arbeiten mit der Mappe an sich, noch vereinfacht wird, habe ich noch folgendes integriert:
<ul>
<li>Wird ein Patient an die Börse gestellt, wird der MinPreis automatisch eingetragen</li>
<li>Wird ein Patient überwiesen, wird ein Standard Empfänger (bei mir mein AuslagerAccount) eingetragen und der Max-Preis eingetragen.</li>
<li>Nach dem Einlagern/Überweisen wird die Mappe automatisch wieder ausgeblendet.</li>
</ul>
</p>
<p>
<strong>Was benötige ich um KHAdvancement installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHAdvancement her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khadvancement/12/KHAdvancement.user.js">KHAdvancement 1.2 Beta<span class="label important">Achtung</span>Unbedingt auf Version 1.2 upgraden wenn KHAdvancedPatientView installiert werden soll!<br />
<a href="../tools/khadvancement/11/KHAdvancement.user.js">KHAdvancement 1.1 Beta</a><br />
<a href="../tools/khadvancement/10/KHAdvancement.user.js">KHAdvancement 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHAdvancement?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHAdvancement anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHAdvancement anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
<p>
<strong>Wie bestimme ich an welchen Account ausgelagert wird?</strong><br />
Wenn ihr das erste mal nach dem installieren des Skriptes einen Patienten überweisen wollt. Sieht der Überweisungseintrag so aus:
<%= image_tag 'tools/khadvancement/screenshot_referral_new.jpg' %><br />
Nun öffnet ihr einfach das Überweisungsaddressbuch<br />
<%= image_tag 'tools/khadvancement/screenshot_addressbook_new.jpg' %><br />
Klickt auf den Namen eurer Wahl</br>
<%= image_tag 'tools/khadvancement/screenshot_addressbook_assigned.jpg' %><br />
Und schon habt ihr den Arzt bestimmt, der nun immer automatisch eingetragen wird. Wollt ihr in ändern. Addressbuch auf und anderen Namen anklicken. Der Name wird sich gemerkt, und zwar in der Kombination Server + Arztname. Wenn ihr also auf mehreren Serven spielt, müßt ihr das erste mal auf allen Servern einen Namen bestimmen.
</p>
