<p>
<strong>Was ist KHMedHelper?</strong><br />
Eine Anzeige welche Meds noch in einem Raum fehlen.
</p>
<p>
<strong>Welche Version hat KHMedHelper?</strong><br />
Stand 18.03.12 ist Version 1.0<br />
</p>
<p>
<strong>Wie ist KHMedHelper entstanden?</strong><br />
Ich stecke morgens erst mal alle Pats in die ganzen Räume. Wenn dann jeder Raum nen Pat hat, verteile ich die Medis. Da ich dann aber nicht mehr weiß was ich in welchen Raum gepackt habe, war mir das zu doof jedes mal im Tooltip nachschauen zu müssen. Das nun direkt zu sehen ist viel angenehmer.
</p>
<p>
<strong>Was benötige ich um KHMedHelper installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHMedHelper her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khmedhelper/KHMedHelper.user.js">KHMedHelper 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHMedHelper?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHMedHelper anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHMedHelper anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
