<p>
<strong>Was ist KHOpticalImprovements?</strong><br />
KHOpticalImprovements behebt Anzeigefehler, optische Probleme und fügt neue Anzeigen hinzu.
</p>
<p>
<strong>Welche Version hat KHOpticalImprovements?</strong><br />
Stand 28.01.12 ist Version 1.1<br />
</p>
<p>
<strong>Wie ist KHOpticalImprovements entstanden?</strong><br />
Ich fand es unschön, das die Pats immer unter dem Fernseher durch mußten, nun könen sie wieder vor ihm vorbei.<br />
Desweitern hab ich ab und an vergessen die Wunderpille abzuholen, da der Fernseher nicht so deutlich zeigt ob an oder aus. Nun verigsst man sie nicht mehr.
</p>
<p>
<strong>Was benötige ich um KHOpticalImprovements installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHOpticalImprovements her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khopticalimprovements/11/KHOpticalImprovements.user.js">KHOpticalImprovements 1.1</a><br />
<a href="../tools/khopticalimprovements/10/KHOpticalFixes.user.js">KHOpticalFixes 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHOpticalImprovements?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHOpticalImprovements anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHOpticalImprovements anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
