<p>
<strong>Was ist KHPatientCounter?</strong><br />
KHPatientCounter zählt auf Olgas Liste wieviele Patienten von welcher Sorte heute schon eingelaufen sind. Zusätzlich fügt er einen Tooltip bei den Ausstattungspunkten ein. Auf diesem kannst Du ablesen wieviele normale Patienten du pro Tag erzählst. Zusätzlich verrät er dir wieviele Ausstattungspunkte noch bis zum nächsten Patienten nötig sind.
</p>
<p>
<strong>Welche Version hat KHPatientCounter?</strong><br />
Stand 04.02.12 ist Version 1.0<br />
</p>
<p>
<strong>Wie ist KHPatientCounter entstanden?</strong><br />
Ich habe mich oft gefragt, wieviele Pats kommen den noch. Zum nachzählen war ich zu faul. Zudem wußte ich eh nicht genau wieviele es denn nun genau sind. Meißt nur so ungefähr. Damit ist nun Schluß!
</p>
<p>
<strong>Was benötige ich um KHPatientCounter installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHPatientCounter her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khpatientcounter/10/KHPatientCounter.user.js">KHPatientCounter 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHPatientCounter?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHPatientCounter anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHPatientCounter anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
