<p>
<strong>Was ist KHTimer?</strong><br />
KHTimer zeigt nun für alle Behandlungen und Quests Timer an. Zusätzlich wird die noch kürzeste Behandlungszeit pro Etage und für das gesamte KH angezeigt.<br />
Damit man nicht die gane Zeit im KH unterwegs sein muss, wird der KH Timer auch in der Titelzeile angezeigt. Somit sieht man immer wie lange es noch dauert bis es wieder was zu tun gibt. Zusätzlich wird jedes mal wenn ein Timer ausläuft mitgezählt und angezeigt.
Für die Quest wird ein Timer, Counter und Fortschrittsbalken angezeigt.
</p>
<p>
<strong>Welche Version hat KHTimer?</strong><br />
Stand 28.02.12 ist Version 3.1<br />
</p>
<p>
<strong>Wie ist KHTimer entstanden?</strong><br />
Mir war es zu doof immer wieder in der Garage nachzuschauen wie weit die Quest ist. Nun seh ich das bequem per Timer.
Desweiteren wollte ich nich alle Nase Zeit im KH verbringen müssen, um zu sehen ob sich was getan hat und irgendwer fertig ist.
</p>
<p>
<strong>Was benötige ich um KHTimer installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHTimer her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khtimer/30/KHTimer.user.js">KHTimer 3.1</a><br />
<a href="../tools/khtimer/20/KHTimer.user.js">KHTimer 2.0</a><br />
<a href="../tools/khtimer/10/KHTimer.user.js">KHTimer 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHTimer?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHTimer anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHTimer anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
<p>
<strong>Wie setze ich den Counter von KHTimer zurück?</strong><br />
Einfach einmal in den Counter klicken schon wird er auf 0 zurückgesetzt.
</p>