<p>
<strong>Was ist KHTimer?</strong><br />
KHTimer führt den Timer und Fortschrittsbalken für die Quests ein.
</p>
<p>
<strong>Welche Version hat KHTimer?</strong><br />
Stand 13.02.12 ist Version 1.0<br />
</p>
<p>
<strong>Wie ist KHTimer entstanden?</strong><br />
Mir war es zu doof immer wieder in der Garage nachzuschauen wie weit die Quest ist. Nun seh ich das bequem per Timer.
</p>
<p>
<strong>Was benötige ich um KHTimer installieren zu können?</strong><br />
Das hängt vom Browser ab. Für Firefox wird as Addon Greasemonkey benötigt, bei Chrome und SWR Iron geht es ohne Addon.
</p>
<p>
<strong>Wo bekomme ich Greasemonkey her?</strong><br />
Greasmonkey gibt es auf der Addon Seit von Mozilla: <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey :: Add-ons for Firefox</a>
</p>
<p>
<strong>Wo bekomme ich KHTimer her?</strong><br />
Das gibt es hier:<br />
<a href="../tools/khtimer/10/KHTimer.user.js">KHTimer 1.0</a>
</p>
<p>
<strong>Wie installiere ich KHTimer?</strong><br />
<b>Firefox:</b><br />
1. Das Addon installieren<br />
2. Link vom KHTimer anklicken und der Installation zustimmen.<br />
<b>Chrome:</b><br />
1. Link vom KHTimer anklicken und der Installation zustimmen.<br />
Danach einfach KH mit F5 neu laden und es ist aktiv.
</p>
