<p>
<strong><%= link_to t('link_khplanner'), khplanner_path %></strong><br />
<ul>
<li>Planung aller Räume wie im KH. Endlich keine falsch gestellten Räume mehr.</li>
<li>Planungen können abgespeichert und geladen werden.</li>
<li>Es kann der Istzustand und die Wunschplanung gleichzeitig erfasst werden. Dazu gibt es dann eine ganze Reihe von Auswertungen.</li>
<li>Es werden aus dem Istzustand Tips zur Upgradereihenfolge gegeben.</li>
</ul>
</p>

<p>
<strong><%= link_to t('link_khadvancedmedrack'), khadvancedmedrack_path %></strong><br />
<ul>
<li>Alle Medikamente eines Raumes hintereinander</li>
<li>Direkter Zugriff auf die Medikamentenshops</li>
<li>Beim Einkauf Aufstockung auf eine bestimmte Menge</li>
<li>Anzeige wie viel hT ich in Medikamenten gebunden habe</li>
</ul>
</p>
<p>
<strong><%= link_to t('link_khadvancement'), khadvancement_path %></strong><br />
<ul>
<li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger</li>
<li>Zusätzliche Anzeigen in der Überweisungsmappe (Anzahl Patienten, Gesamtertrag)</li>
<li>4 Filter in der Überweisungsmappe, mit denen der Überblick nicht verloren geht</li>
</ul>
</p>
<p>
<strong><%= link_to t('link_khopticalfixes'), khopticalfixes_path %></strong><br />
<ul>
<li>Die Pats laufen nun nicht mehr unter dem Fernseher durch</li>
</ul>
</p>
