<p>
<strong><%= link_to t('link_khadvancedmedrack'), khadvancedmedrack_path %></strong><br />
<ul>
<li>Alle Medikamente eines Raumes hintereinander</li>
<li>Direkter Zugriff auf die Medikamentenshops</li>
<li>Beim Einkauf Aufstockung auf eine bestimmte Menge</li>
<li>Anzeige wie viel hT ich in Medikamenten gebunden habe</li>
</ul>
</p>
<p>
<strong><%= link_to t('link_khadvancement'), khadvancement_path %></strong><br />
<ul>
<li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger</li>
<li>Zusätzliche Anzeigen in der Überweisungsmappe (Anzahl Patienten, Gesamtertrag)</li>
<li>4 Filter in der Überweisungsmappe, mit denen der Überblick nicht verloren geht</li>
</ul>
</p>