<footer>
  <p>
      <%= link_to t('link_about'), about_path %> |
      <%= link_to t('link_contact'), contact_path %> |
      <a href="http://forum.de.kapihospital.com">Forum</a> |
      <a href="http://de.kapihospital.com">KapiHospital</a>
  </p>
  <p>&copy; Grafiken bei <a href="http://de.upjers.com">de.upjers.com</a></p>
  <p>&copy; Site bei <a href="mailto:khsuite@googlemail.com">Prof.Dr.Brainiac</a></p>
</footer>
